.code-samples {
  margin-top: 2rem;
  padding: 3rem;

}

.code-sample-category {
  font-size: 1.1em;
}

.copyright {
  vertical-align: super;
  font-size: small;
}
.code-sample-readme * {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  white-space: normal !important;
  max-width: 100% !important;
}
.code-sample-readme pre,
.code-sample-readme code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;
}

/* .code-sample-readme {
  max-width: 0;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  word-break: break-all !important;
  white-space: normal !important;
  overflow: hidden;
}


 */
