

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.site-page {
    margin-top: 59px;
    min-height: 89vh;
}



/*-------------- Responsive Styling -----------------------*/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {


}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Extra small devices only **********/
@media (max-width: 767px) {


}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}



@media (max-width: 1199px) {

    .hide-medium {
        display: none;
        width: 0 !important;
        height: 0 !important;
    }

}

@media (max-width: 991) {

    .hide-small {
        display: none;
        width: 0 !important;
        height: 0 !important;
    }

}
