

.about-tile {
    border: 1px solid #999999;
    word-wrap: break-word;
}
.about-tile-icon {
    color: #666;
}

.about-signature {
    width: 136px;
    height: 43px;
}

.about-tile-value {
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666;
    font-weight: 900;
}
