
.footer {
    background-color: #333;
    color: white;
    margin:0px auto;
    padding: 20px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
}
.footer {
    font-size: small;
}

.footer a {
    color: white;
}

/*-------------- Responsive Styling -----------------------*/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

.react-banner,
.footer-extra-links {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
}

}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}

