

.app-navbar {
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: black;
    padding-left: 15px;
}

.nav-link:focus, 
.nav-link:hover, 
.nav-item, 
.dropdown-item,
.dropdown-menu {
    background-color: black !important;
}
