
.contact-page {
    background-color: white;
}

.contact-page a:not(.btn-danger),
h4 a {
    color: #333;
}

h4 a {
    text-decoration: underline;
}

.contact-data .contact-social-buttons {

}

.contact-data h4 {
    font-size: smaller;
}