.app-navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: black;
  padding-left: 15px;
}

.nav-link:focus,
.nav-link:hover,
.nav-item,
.dropdown-item,
.dropdown-menu {
  background-color: black !important;
}

.dropdown-menu {
  border-left: 0.5px solid #222;
  border-bottom: 0.5px solid #222;
  border-right: 0.5px solid #222;
}

.navbar-dark .dropdown-menu .dropdown-item {
  color: gray !important;
}

.navbar-dark .dropdown-menu .dropdown-item:hover,
.navbar-dark .dropdown-menu .dropdown-item:focus {
  color: lightgray !important;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .dropdown-menu .dropdown-item.active,
.navbar-dark .dropdown-menu .dropdown-item:active {
  color: #f1f1f1 !important;
  background-color: #0d6efd;
}

.menu-logo {
  width: 15px;
  margin-right: 5px;
}
